version: '3.8'
services:
  laravel-10:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SSL_MODE: "off"
      PHP_POOL_NAME: "my-app_horizon"
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html

  laravel-horizon:
    build:
      context: .
      dockerfile: horizon.dockerfile
    command: ["su", "webuser", "-c", "php artisan horizon"]
    environment:
      SSL_MODE: "off"
      PHP_POOL_NAME: "my-app_horizon"
    deploy:
      replicas: 3


  redis:
    image: redis:alpine
    command: "redis-server --appendonly yes --requirepass redispassword"

